//frameworks

@import "compass";
@import "gridle";

//fonts

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,800);
@import url(http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps);
@import url(http://fonts.googleapis.com/css?family=Pontano+Sans);

//mixins

@import "settings";
@import "mixins";
@import "color";
@include gridle_generate_classes ();
@include gridle_register_state( "mobile" , null , 500px );
@include gridle_register_state( "tablet" , 501px , 840px );
@include gridle_register_state( "giant" , 1281px , 2500px );

//style

body {
	margin: 0;
}

h3 {
	@include oleo(300, 50px, $yellow, 1.0em);
	@include gridle_state(mobile) {
		font-size: 40px;
	}
	display: inline;
	padding: 0px 10px 0px 10px;
}

.inner-container {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.container {
	padding: 90px 0 40px;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.welcome {
	background: $yellow url('../img/welcome.jpg') no-repeat center center;
	width: 100%;
	height: 700px;
	position: relative;
	background-size: cover;
	display: block;
	#logo {
	background: url('../img/main-logo.png') no-repeat center center;
	height: 187px;
	position: relative;
	padding-top: 160px;
	}
	h1 {
		@include oleo(300, 63px, #fff, 0.5em);
		margin-top: 0;
		text-shadow: #404040 0 0 8px;
		@include gridle_state(mobile) {
			font-size: 35px;
			line-height: 1em;
		}
		@include gridle_state(tablet) {
			font-size: 44px;
		}
	}
	h4 {
		@include open-sans(300, 28px, #fff, center);
		margin-top: -20px;
		text-shadow: #404040 0 0 8px;
		@include gridle_state(mobile) {
			font-size: 22px;
		}
	}
}

.titulos {
	display: block;
	text-align: center;
	margin-bottom: 70px;
	@include gridle_state(mobile) {
		margin-bottom: 40px;
	}
}

.decoration {
	@include gridle_hide(mobile);
}

.nosotros {
	background: $light-gray;
	padding: 90px 10px;
	p {
	@include open-sans(400, 21px, $gray, center);
	@include gridle_state(mobile) {
		font-size: 16px;
		}
	}
}

.article {
	@include gridle(6);
	@include gridle(12, mobile);
	margin-bottom: 40px;
	h2 {
		@include gridle_clear(both, tablet mobile);
		@include oleo(300, 30px, $yellow, 1em);
		text-align: left;
		margin-top: 30px;
		margin-bottom: 0;
		@include gridle_state(mobile tablet) {
			text-align: center;
		}
	}
	p {
		@include open-sans(400, 14px, $gray, left);
		@include gridle_state(mobile) {
			text-align: center;
		}
		margin-top: 5px;
	}
	#habitaciones {
		@include img-features('../img/habitaciones.png');
		@include img-hover;
		@include gridle_state(mobile tablet) {
			background: url('../img/habitaciones-2.png');
		}
	}
	#gastronomia {
		@include img-features('../img/gastronomia.png');
		@include img-hover;
		@include gridle_state(mobile tablet) {
			background: url('../img/gastronomia-2.png');
		}
	}
	#piscina {
		@include img-features('../img/piscina.png');
		@include img-hover;
		@include gridle_state(mobile tablet) {
			background: url('../img/piscina-2.png');
		}
	}
	#lavanderia {
		@include img-features('../img/lavanderia.png');
	}
}

.ayelen {
	clear: both;
	background: #f5f5f5 url('../img/bg-ayelen.jpg') no-repeat center center;
	min-height: 280px;
	background-size: cover;
	.container {
		max-width: 960px;
		margin-left: auto;
		margin-right: auto;
		padding: 50px 0;
	}
	h3 {
		color: #fff;
		display: block;
		margin: 0;
		margin-bottom: 30px;
	}
}

.features {
	@include gridle(12);
	margin-left: auto;
	margin-right: auto;
	position: relative;
	@include gridle_centered();
	#familiar {
		@include img-services('../img/1-familiar.png');
	}
	
	#comodo {
		@include img-services('../img/2-comodo.png');
	}
	
	#natural {
		@include img-services('../img/3-natural.png');
	}
	
}

.map {
	background: url('../img/map.jpg') no-repeat center;
	height: 380px;
	@include gridle(7);
	@include gridle(12, mobile);
}

.form {
	@include gridle(5);
	@include gridle(12, mobile);
	padding: 0 20px;
	h4 {
		@include gridle_hide();
		@include gridle_show(mobile);
		@include oleo(300, 35px, $yellow, 0.5em);
	}
	input{
		@include form-reset;
		@include open-sans(400, 13px, $gray, left);
		padding: 5px;
		background-color: $light-gray;
		border: 2px solid $light-gray;
		width: 100%;
		height: 20px;
		margin-bottom: 10px;
	}
	textarea{
		@include form-reset;
		@include open-sans(400, 13px, $gray, left);
		padding: 5px;
		background-color: $light-gray;
		border: 2px solid $light-gray;
		width: 100%;
		height: 210px;
		margin-bottom: 20px;
	}
	a {
		@include open-sans(800, 22px, #fff, center);
		color: #fff;
		background: $yellow;
		border: 2px solid $yellow;
		text-decoration: none;
		padding: 5px;
		display: block;
		margin: 0;
		width: 100%;
		@include transition(0.4s);
		&:hover {
			background: none;
			color: $yellow;
			border: 2px solid $yellow;
		}
	}
}

footer {
	background: $yellow;
	clear: both;
	.container {
		padding: 18px 0;
	}
	.contacto {
		@include gridle(10);
		#ayelen-logo {
			float: left;
			height: 110px;
			position: relative;
			display: block;
		}
		#ayelen-titulo {
			background: url('../img/titulo-footer.png') no-repeat top left;
			margin: 50px 10px 0;
			float: left;
			height: 24px;
			@include gridle_state(tablet) {
				margin-top: 30px;
			}
			@include gridle_state(mobile) {
				margin-top: 15px;
				}
		}
		p {
			@include open-sans(400, 12px, #fff, left);
			font-size: 12px;
			margin: 0 0 0 55px;
			color: #fff;
			&#first {
				margin-top: 76px;
				@include gridle_state(tablet) {
					margin-top: 60px;
					}
				@include gridle_state(mobile) {
					margin-top: 45px;
					}
			}
		}
	}
	.redes-sociales{
		@include gridle(2);
		h4 {
			@include oleo(300, 25px, #fff, 1.0em);
			margin-bottom: 0;
			text-align: right;
			@include gridle_hide(mobile tablet);
		}
		ul{
		margin: 5px 0 0 10px;
		display: inline-box;
		}
		li {
		list-style: none;
		}
		a img{
			float: right;
			width: 34px;
			margin-top: 0;
			@include transition(0.25s);
			@include gridle_state(mobile tablet) {
				margin-top: 40px;
			}
		}
		a:hover img{
			opacity: 0.75;
			-ms-filter: "progid_DXImageTransform.Microsoft.Alpha(Opacity=75)";
		}
	}
}

.footer-munki {
	background: $gray-footer;
	.container {
		padding: 10px 0;
	}
	p {
		@include open-sans(400, 12px, #fff, right);
		margin: 0;
		@include gridle_state(mobile tablet) {
			text-align: center;
		}
	}
	a img {
		margin-left: 10px;
		@include transition(0.25s);
	}
	a:hover img{
		opacity: 0.75;
		-ms-filter: "progid_DXImageTransform.Microsoft.Alpha(Opacity=75)";
	}
}